<div>
    <h2>
        <span jhiTranslate="patokasApp.financialDetails.home.title">Financial Details</span>
        <button class="btn btn-primary float-right jh-create-entity create-financial-details" [routerLink]="['/', { outlets: { popup: ['financial-details-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="patokasApp.financialDetails.home.createLabel">
            Create new Financial Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="financialDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="iban"><span jhiTranslate="patokasApp.financialDetails.iban">Iban</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bankName"><span jhiTranslate="patokasApp.financialDetails.bankName">Bank Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bic"><span jhiTranslate="patokasApp.financialDetails.bic">Bic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="baseSalary"><span jhiTranslate="patokasApp.financialDetails.baseSalary">Base Salary</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="grossSalary"><span jhiTranslate="patokasApp.financialDetails.grossSalary">Gross Salary</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="signOnBonus"><span jhiTranslate="patokasApp.financialDetails.signOnBonus">Sign On Bonus</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="annualBonus"><span jhiTranslate="patokasApp.financialDetails.annualBonus">Annual Bonus</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let financialDetails of financialDetails ;trackBy: trackId">
                <td><a [routerLink]="['../financial-details', financialDetails.id ]">{{financialDetails.id}}</a></td>
                <td>{{financialDetails.iban}}</td>
                <td>{{financialDetails.bankName}}</td>
                <td>{{financialDetails.bic}}</td>
                <td>{{financialDetails.baseSalary}}</td>
                <td>{{financialDetails.grossSalary}}</td>
                <td>{{financialDetails.signOnBonus}}</td>
                <td>{{financialDetails.annualBonus}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../financial-details', financialDetails.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'financial-details/'+ financialDetails.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'financial-details/'+ financialDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="financialDetails && financialDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
