<div>
    <h2>
        <span jhiTranslate="patokasApp.employeeNote.home.title">Employee Notes</span>
        <button class="btn btn-primary float-right jh-create-entity create-employee-note" [routerLink]="['/', { outlets: { popup: ['employee-note-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="patokasApp.employeeNote.home.createLabel">
            Create new Employee Note
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employeeNotes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="patokasApp.employeeNote.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="text"><span jhiTranslate="patokasApp.employeeNote.text">Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="patokasApp.employeeNote.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="employeeNoteType"><span jhiTranslate="patokasApp.employeeNote.employeeNoteType">Employee Note Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="owner.id"><span jhiTranslate="patokasApp.employeeNote.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeeNote of employeeNotes ;trackBy: trackId">
                <td><a [routerLink]="['../employee-note', employeeNote.id ]">{{employeeNote.id}}</a></td>
                <td>{{employeeNote.title}}</td>
                <td>{{employeeNote.text}}</td>
                <td>{{employeeNote.date | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'patokasApp.EmployeeNoteType.' + employeeNote.employeeNoteType}}">{{employeeNote.employeeNoteType}}</td>
                <td>
                    <div *ngIf="employeeNote.owner">
                        <a [routerLink]="['../employee', employeeNote.owner?.id ]" >{{employeeNote.owner?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee-note', employeeNote.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-note/'+ employeeNote.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-note/'+ employeeNote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="employeeNotes && employeeNotes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
