
<div *ngIf="iDCard">
    <h2><span jhiTranslate="patokasApp.iDCard.detail.title">ID Card</span> {{iDCard.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="patokasApp.iDCard.idNumber">Id Number</span></dt>
        <dd>
            <span>{{iDCard.idNumber}}</span>
        </dd>
        <dt><span jhiTranslate="patokasApp.iDCard.dateOfIssue">Date Of Issue</span></dt>
        <dd>
            <span>{{iDCard.dateOfIssue | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="patokasApp.iDCard.dateOfExpiry">Date Of Expiry</span></dt>
        <dd>
            <span>{{iDCard.dateOfExpiry | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="patokasApp.iDCard.issuedBy">Issued By</span></dt>
        <dd>
            <span>{{iDCard.issuedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'id-card/'+ iDCard.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
