<div>
    <h2>
        <span jhiTranslate="patokasApp.employeePossition.home.title">Employee Possitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-employee-possition" [routerLink]="['/', { outlets: { popup: ['employee-possition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="patokasApp.employeePossition.home.createLabel">
            Create new Employee Possition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employeePossitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="patokasApp.employeePossition.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="positionName"><span jhiTranslate="patokasApp.employeePossition.positionName">Position Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="positionNameNative"><span jhiTranslate="patokasApp.employeePossition.positionNameNative">Position Name Native</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeePossition of employeePossitions ;trackBy: trackId">
                <td><a [routerLink]="['../employee-possition', employeePossition.id ]">{{employeePossition.id}}</a></td>
                <td>{{employeePossition.code}}</td>
                <td>{{employeePossition.positionName}}</td>
                <td>{{employeePossition.positionNameNative}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee-possition', employeePossition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-possition/'+ employeePossition.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-possition/'+ employeePossition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="employeePossitions && employeePossitions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
