
<div *ngIf="employeePossition">
    <h2><span jhiTranslate="patokasApp.employeePossition.detail.title">Employee Possition</span> {{employeePossition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="patokasApp.employeePossition.code">Code</span></dt>
        <dd>
            <span>{{employeePossition.code}}</span>
        </dd>
        <dt><span jhiTranslate="patokasApp.employeePossition.positionName">Position Name</span></dt>
        <dd>
            <span>{{employeePossition.positionName}}</span>
        </dd>
        <dt><span jhiTranslate="patokasApp.employeePossition.positionNameNative">Position Name Native</span></dt>
        <dd>
            <span>{{employeePossition.positionNameNative}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-possition/'+ employeePossition.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
